.game-container {
    display: flex;
    gap: 5vw;  
    width: 90vw; 
    margin: 5vh auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vulnerabilities, .consequences {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 45%;
    flex-basis: calc(50% - 3vw);
}

.card {
    width: 100% !important; 
    height: auto; /* Adjusted */
    text-align: center;
    font-size: 1rem; /* Adjusted */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    cursor: pointer;
    border-radius: 1vh;
    user-select: none;
    border: 0.5vh solid transparent;
    padding: 10px; /* Added */
    max-height: 15vh;  /* Added */
    overflow: hidden;  /* Added */
    text-overflow: ellipsis;  /* Added */
    white-space: nowrap;  /* Added */
}

.card.selected {
    background-color: #ddd;
}

/* ... Color-coordination styles ... */

/* =======================================
   RESPONSIVE STYLES
   ======================================= */

/* Mobile Styles */
@media only screen and (max-width: 480px) {
    .game-container {
        width: 95vw;
        gap: 3vw;
        margin: 3vh auto;
    }

    .vulnerabilities, .consequences {
        width: 100%;
        margin-bottom: 2vh;
    }

    .card {
        height: auto;  /* Adjusted */
        font-size: 3vw;  /* Adjusted */
    }
}

/* Tablet Styles */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .game-container {
        width: 90vw;
        gap: 4vw;
        margin: 4vh auto;
    }

    .vulnerabilities, .consequences {
        width: 47%;
    }

    .card {
        height: auto;  /* Adjusted */
        font-size: 2vw;  /* Adjusted */
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1025px) {
    .game-container {
        width: 80vw;
        gap: 5vw;
        margin: 5vh auto;
    }

    .vulnerabilities, .consequences {
        width: 45%;
    }

    .card {
        height: auto;  /* Adjusted */
        font-size: 1.5vw;  /* Adjusted */
    }
}
